<!DOCTYPE html>
<html>
    <head>
        <title>Albion Marketplace Tool</title>
        <style>
            body{
                font-family: Arial,sans-serif;
                background-color: black;
                color: #ffffff;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Albion Marketplace Price Checker</h1>
        <form action="/search" method="GET">
            <input type="text" name="item" placeholder="Search For An Item.....">
            <button type = "submit">Search</button>
        </form>
    </body>
</html>
